@model List<MaterialsModel>
@{
    ViewData["Title"] = "Alta de Materiales";
    ViewData["MostrarHeader"] = true;
    ViewData["MostartMenu"] = true;
    ViewData["MostartEmp"] = false;
    ViewData["MostrarToolCrib"] = true;
}
<link href="~/css/solicitar.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/dashSup.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9 m-auto">
            <div class="tool-container">
                <div class="tool-form">
                    <div class="container-fluid h-100 ">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-3 text-md-start text-center mb-2 mb-md-0">
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add")'">
                                    <i class="bi bi-plus-circle"></i>
                                    Agregar material
                                </button>
                            </div>
                            <div class="col-12 col-md-7 d-flex flex-column flex-md-row align-items-center justify-content-center mb-2 mb-md-0">
                            </div>
                            <div class="col-12 col-md-2 text-center text-md-end">
                                <form asp-controller="OfficeSup" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-danger px-4" id="">
                                        <i class="bi bi-box-arrow-in-right"></i>
                                        Salir
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 m-auto ps-5">
        <div class="login-container text-center">
            <div class="solicitar-form p-4">
                <div class="table-responsive">
                    <table id="tablaMateriales" class="table table-hover align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>NoPart</th>
                                <th>Description</th>
                                <th>UM</th>
                                <th>Brand</th>
                                <th>Specification</th>
                                <th>Price</th>
                                <th>Location</th>
                                <th>Stock</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos se cargarán vía AJAX -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="~/js/materiales.js"></script>
}